<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../../../assets/admin/img/logo-small.png">
        </div>

      </a>
      <a href="" class="simple-text logo-normal">
        EDUHUB
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="back">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="listProduct">
            <i class="nc-icon nc-bookmark-2"></i>
            <p>Products</p>
          </a>
        </li>
        <li>
          <a href="listCategory">
            <i class="nc-icon nc-bag-16"></i>
            <p>Category Product</p>
          </a>
        </li>
        <!--<li>
          <a href="libelem">
            <i class="nc-icon nc-shop"></i>
            <p>Library Element</p>
          </a>
        </li>
        <li>
          <a href="libcat">
            <i class="nc-icon nc-shop"></i>
            <p>Library Category</p>
          </a>
        </li>-->
        <li>
          <a href="listProduct">
            <i class="nc-icon nc-shop"></i>
            <p>Products</p>
          </a>
        </li>
        <li>
          <a href="listCourse">
            <i class="nc-icon nc-shop"></i>
            <p>Courses</p>
          </a>
        </li>
        <li>
          <a href="listUsers">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
