<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <hr>
   <!-- <div class="row" *ngFor="let post of listPosts">
      <div class="col-md-1">

      </div>
      <div class="col-md-8">
        <img  width="150" height="150" src="http://localhost:8082/libFile/files/{{post?.idFile}}" alt="">

        <h1 class="blog-title">{{post.title}}</h1>
        <span>
                </span>

        <p [innerHTML]="post.content"></p>
        <hr>
      </div>
    </div>-->

    <div class="col-lg-3 col-md-6 col-sm-8" *ngFor="let post of listPosts ">
      <div class="singel-publication mt-30">
        <div class="image">
          <img src="http://localhost:8082/libFile/files/{{post?.idFile}}" alt="Publication" >
          <div class="add-cart">
            <ul>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="cont">
          <div class="name">
            <a href="shop-singel.html"><h6>{{post.title}} </h6></a>
            <span>{{post.content}}</span>
          </div>
          <div class="button text-right">
            <a routerLink="/showpost" class="main-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
