<!-- Contenedor Principal -->
<div class="comments-container"*ngFor="let p of listofpost;let indexOfelement=index;">
    <img src="http://localhost:8089/File/file/{{p?.files?.id}}" style="height: 250px;width: 400px;">
            <h1>{{p.title}}</h1>
            <h2>{{p.content}}</h2>
            <h5 > created :{{p.created_At}}</h5>
          <button (click)="addlike(p)" class="btn btn-primary"> <i class="fa fa-thumbs-up"></i>Like  {{nbrlike[indexOfelement]}}</button>
          <button (click)="adddislike(p)" class="btn btn-primary" style="margin-left: 10px;" > <i class="fas fa-thumbs-down"></i>Dislike {{nbrdislike[indexOfelement]}}</button>

    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                        <span>hace 20 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
            <!-- Respuestas de los comentarios -->
        </li>
    </ul>
</div>