<!-- Contenedor Principal -->
<app-navbar></app-navbar>
<div class="comments-container"*ngFor="let p of listofpost;let indexOfelement=index;">
    <img src="http://localhost:8089/File/file/{{p?.files?.id}}" style="height: 250px;width: 400px;">
            <h1>{{p.title}}</h1>
            <h2>{{p.content}}</h2>
            <h5 > created :{{p.created_At}}</h5>
          <button (click)="addlike(p)" class="btn btn-primary"> <i class="fa fa-thumbs-up"></i>Like  {{nbrlike[indexOfelement]}}</button>
          <button (click)="adddislike(p)" class="btn btn-primary" style="margin-left: 10px;" > <i class="fas fa-thumbs-down"></i>Dislike {{nbrdislike[indexOfelement]}}</button>

    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <!-- Contenedor del Comentario -->
                <div class="comment-box" *ngFor="let c of p.comment">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                        <span>hace 20 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                        <div class="comment-content" >
                
                            {{c.content}}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <!-- Respuestas de los comentarios -->
        </li>
    </ul>
    <form [formGroup]="cmtform">
        <div class="input-group mb-3">
            <textarea formControlName="content" type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="ajouter(p.postId)">comment</button>
            </div>
          </div>
    </form>

</div>
<app-footer>